<div class="collapse collapse-arrow bg-base-200">
  <input
    type="checkbox"
    id="schlagwoerterFilterCheckbox"
    (change)="uncheck()" />
  <div class="collapse-title text-xl font-medium">Schlagwörter</div>
  <div class="collapse-content">
    <div class="container">
      <label class="label cursor-pointer">
        <div class="join join-vertical w-full">
          @for (option of options; track option.label) {
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text">{{ option.label }}</span>
                <input
                  type="checkbox"
                  name="schlagwoertercheckbox"
                  class="checkbox checkbox-primary ml-[60px]"
                  value="{{ option.value }}"
                  (change)="schlagwoerterFilterSetter($event.target!)" />
              </label>
            </div>
          }
        </div>
      </label>
    </div>
  </div>
</div>
