<div class="max-w-screen-lg mx-auto">
    <form class="flex flex-col gap-10" [formGroup]="buchForm" (ngSubmit)="onSubmit()">
        <!-- Row 1 -->
        <div class="form-row">
            <div class="form-col">
                <app-titel-input [buchForm]="buchForm"></app-titel-input>
            </div>
            <div class="form-col">
                <app-isbn-input [buchForm]="buchForm"></app-isbn-input>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="flex justify-end">
            <button class="btn btn-block btn-primary" type="submit">Anlegen</button>
        </div>
    </form>
</div>