<div class="navbar bg-neutral-200 rounded-box ">
  <div class="navbar-start">
    <div class="text-xl font-extrabold ">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
        Bookverse 
      </span>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-link hover:text-sky-500 dark:hover:text-sky-400 text-lg" routerLink="/overview">Overview</a>
    <a class="btn btn-link hover:text-sky-500 dark:hover:text-sky-400 text-lg" routerLink="/library">library</a>
    <a class="btn btn-link hover:text-sky-500 dark:hover:text-sky-400 text-lg">Contact</a>
  </div>
  <div class="navbar-end">
    <div>
      <app-drawer></app-drawer>
    </div>
  </div>
</div>