<div class="carousel carousel-center rounded-box mb-5">
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/Java.jpg" />
  </div>
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/Python.jpg" />
  </div>
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/JavaScript.jpg" />
  </div>
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/Java.jpg" />
  </div>
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/Python.jpg" />
  </div>
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/JavaScript.jpg" />
  </div>
  <div class="carousel-item border-4 m-1 rounded-md">
    <img loading="lazy" class="w-80 h-auto object-contain" src="assets/Java.jpg" />
  </div>
</div>