.subtitle {
  color: #888;
  opacity: 0.7; /* Leicht transparent */
}
.modal-box {
  position: relative;
}

.custom-modal {
  width: 900px;
  height: 330px;
  max-width: 78%;
  max-height: 90%;
}

.form-row {
  display: flex; /* Flexbox aktivieren */
  align-items: center; /* Vertikale Ausrichtung auf der gleichen Höhe */
  gap: 20px;
  justify-content: flex-start;
}

.form-col {
  display: flex; /* Flexbox für jedes Form-Element */
  align-items: center; /* Vertikale Ausrichtung auf der gleichen Höhe */
  width: 100%; /* Volle Breite innerhalb des Containers */
}

.form-row > .form-col:first-child {
  width: 200px; /* Feste Breite für die erste Spalte */
  min-width: 250px; /* Stellt sicher, dass die Spalte nicht kleiner wird */
  max-width: 250px; /* Stellt sicher, dass die Spalte nicht größer wird */
}

.buch-titel {
  font-size: 40px;
  font-weight: bold;
}

.berechneterPreis {
  font-size: 40px;
  font-weight: 600;
}

.berechneterRabatt {
  color: red;
  font-size: 25px;
  font-weight: lighter;
}

.buch-preis {
  font-size: 25px;
  font-weight: 300;
  color: #888;
  opacity: 0.7;
  text-decoration: line-through;
}

.buch-untertitel {
  color: #6c757d;
  font-weight: bold;
}

.ausgefüllt {
  background-color: gold;
}

.nicht-ausgefüllt {
  background-color: lightgray;
}

.buch-schlagwoerter {
  font-size: 18px;
  font-weight: bold;
}

.buch-art {
  font-size: 18px;
  font-weight: bold;
}

.buch-isbn {
  font-size: 18px;
  font-weight: bold;
}

.buch-lieferbar {
  font-size: 18px;
  font-weight: bold;
}
.lieferbar-true {
  background-color: green; /* Grün, wenn lieferbar */
}

.lieferbar-false {
  background-color: red; /* Rot, wenn nicht lieferbar */
}

.btn-close {
  background-color: #f8d7da; /* Helles Rot */
  color: #721c24; /* Dunkelroter Text */
  border: 1px solid #f5c6cb; /* Rot als Rand */
}

.btn-close:hover {
  background-color: #f5c6cb; /* Etwas intensiver beim Hover */
  color: #721c24;
}
