<dialog #modal id="modal" class="modal min-h-96">
  <div class="modal-box flex custom-modal">
    <figure class="flex-shrink-0">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie" />
      <!-- <img [src]="buch?.file" alt="Book-File" class="w-48 h-auto rounded" /> -->
    </figure>
    <div class="ml-4">
      <div class="header">
        <!-- Titel und Preis -->
        <h3 class="text-5xl font-bold">
          {{ buch?.titel?.titel }}
          <span style="font-size: 4rem; font-weight: 300; margin-left: 50px">
            {{ buch?.preis }} €
          </span>
        </h3>

        <!-- Untertitel-->
        <h3 class="text-lg font-bold subtitle">
          {{ buch?.titel?.untertitel }}

          <!-- Rating -->
          <div class="rating">
            <span
              style="margin-left: 150px"
              class="mask mask-star-2 bg-primary w-8 h-8"></span>
            <span class="mask mask-star-2 bg-primary w-8 h-8"></span>
            <span class="mask mask-star-2 bg-primary w-8 h-8"></span>
            <span class="mask mask-star-2 bg-primary w-8 h-8"></span>
            <span class="mask mask-star-2 bg-primary w-8 h-8"></span>
          </div>
        </h3>

        <!-- Infos -->
        <h3 class="text-lg font-bold mt-4">- {{ buch?.schlagwoerter }}</h3>
        <h3 class="text-lg font-bold mt-4">- {{ buch?.art }}</h3>
        <h3 class="text-lg font-bold mt-4">- ISBN: {{ buch?.isbn }}</h3>
      </div>

      <!-- Close -->
      <div class="modal-action absolute bottom-0 right-0 p-4">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
