.subtitle {
  color: #888;
  opacity: 0.7; /* Leicht transparent */
}
.modal-box {
  position: relative;
}

.custom-modal {
  width: 900px;
  height: 330px;
  max-width: 90%;
  max-height: 90%;
}

.form-row {
  display: flex; /* Flexbox aktivieren */
  align-items: center; /* Vertikale Ausrichtung auf der gleichen Höhe */
  gap: 20px;
  justify-content: flex-start;
}

.form-col {
  display: flex; /* Flexbox für jedes Form-Element */
  align-items: center; /* Vertikale Ausrichtung auf der gleichen Höhe */
  width: 100%; /* Volle Breite innerhalb des Containers */
}

.buch-titel {
  font-size: 40px;
  font-weight: bold;
}

.buch-preis {
  font-size: 25px;
  font-weight: 300;
  color: #888;
  opacity: 0.7;
  text-decoration: line-through;
}

.berechneterRabatt {
  color: red;
  font-size: 25px;
  font-weight: lighter;
}

.berechneterPreis {
  font-size: 40px;
  font-weight: 600;
}

.buch-untertitel {
  color: #6c757d;
  font-weight: bold;
}

.buch-schlagwoerter {
  font-size: 18px;
  font-weight: bold;
}

.buch-art {
  font-size: 18px;
  font-weight: bold;
}

.buch-isbn {
  font-size: 18px;
  font-weight: bold;
}

.buch-lieferbar {
  font-size: 18px;
  font-weight: bold;
}
