<div class="drawer">
  <input [id]="drawerId" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="{{ drawerId }}" class="w-9 h-9 rounded-full flex items-center justify-center cursor-pointer">
      <ng-container *ngIf="iconTemplate; else defaultIcon">
        <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultIcon>
        <span>Icon fehlt</span>
      </ng-template>
    </label>
  </div>
  <div class="drawer-side z-50 rounded-lg">
    <label for="{{ drawerId }}" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <ng-content></ng-content>
    </ul>
  </div>
</div>