<form class="border-b shadow-lg border-gray-900/10 bg-neutral-100 rounded-md mx-5">
    <div class="grid grid-cols-4 gap-4">
        <label class="input input-bordered flex items-center gap-2 col-span-2">
            Name:
            <input type="text" class="grow" placeholder="Mustermann" />
        </label>
        <label class="input input-bordered flex items-center gap-2 col-span-2">
            Name:
            <input type="text" class="grow" placeholder="Mustermann" />
        </label>
    </div>
</form>