<div class="join join-vertical">
  <app-art-filter-collapse [artFilter]="artFilter"></app-art-filter-collapse>
  <app-schlagwoerter-filter-collapse
    [schlagwoerterFilter]="
      schlagworterFilter
    "></app-schlagwoerter-filter-collapse>
  <app-lieferbar-filter-collapse
    [lieferbarFilter]="lieferbarFilter"></app-lieferbar-filter-collapse>
  <app-rating-filter-collapse
    [ratingFilter]="ratingFilter"></app-rating-filter-collapse>
  <app-preis-filter-collapse
    [preisFilter]="preisFilter"></app-preis-filter-collapse>
  <app-rabatt-filter-collapse
    [rabattFilter]="rabattFilter"></app-rabatt-filter-collapse>
</div>
