<div class="join join-vertical">
  <label>Filter</label>
  <app-art-filter-collapse [buecher]="buecher()"></app-art-filter-collapse>
  <app-lieferbar-filter-collapse
    [buecher]="buecher()"></app-lieferbar-filter-collapse>
  <app-schlagwoerter-filter-collapse
    [buecher]="buecher()"></app-schlagwoerter-filter-collapse>
  <app-rating-filter-collapse
    [ratingFilter]="ratingFilter"></app-rating-filter-collapse>
  <app-preis-filter-collapse
    [preisFilter]="preisFilter"></app-preis-filter-collapse>
  <app-rabatt-filter-collapse
    [rabattFilter]="rabattFilter"></app-rabatt-filter-collapse>
</div>
