<!-- The main app container -->
<div
  class="app-container flex flex-col min-h-screen bg-gradient-to-r from-stone-400 from-10% via-stone-300 via-30% to-neutral-200 to-90%">
  <!-- Bunte Variante: bg-gradient-to-r from-indigo-600 from-10% via-sky-600 via-30% to-sky-300 to-90% -->

  <header class="app-header mt-3 mx-7 mb-5">
    <div>
      <app-navbar></app-navbar>
    </div>
  </header>

  <main class="mx-4 sm:mx-6 lg:mx-12 flex-1">
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>


  <footer class="mt-auto">
    <app-footer></app-footer>
  </footer>
</div>