<!-- The main app container -->
<div class="app-container flex flex-col min-h-screen bg-gradient-to-r from-stone-500 from-10% via-stone-400 via-30% to-neutral-300 to-90%">
  <!--  Bunte Variante: bg-gradient-to-r from-indigo-600 from-10% via-sky-600 via-30% to-sky-300 to-90% -->
  <div>
    <header class="app-header mt-4 mx-8">
      <app-navbar></app-navbar>
    </header>

    <main class="mx-12">
      <div class="mt-8">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>

  <footer class="mt-auto">
    <app-footer></app-footer>
  </footer>
</div>