<div [formGroup]="buchForm()"> <!-- Zugriff auf die tatsächliche FormGroup -->
    <label class="label">
        <span class="label-text text-lg font-semibold">ISBN</span>
    </label>
    <div class="relative flex items-center">
        <div>
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                </svg>
            </div>
        </div>
        <input formControlName="isbn" type="text" placeholder="978-0-007-00644-1" [ngClass]="{
                'border-error focus:ring-error/50 focus:border-error': isbn.invalid && isbn.touched,
                'border-primary focus:ring-primary/50 focus:border-primary': !(isbn.invalid && isbn.touched)
            }"
            class="input w-full px-4 py-2 text-base bg-gray-50 focus:outline-none focus:ring hover:bg-gray-200 ps-10 border-2 rounded-lg" />
    </div>
    @if (isbn.invalid && isbn.touched) {
    <div class="text-base text-error">
        <label>
            @if (isbn.hasError('required')) {
            <span>Bitte füllen Sie diese Feld aus!</span>
            }
            @if (isbn.hasError('pattern')) {
            <span>ISBN hat das falsche Format</span>
            }
        </label>
    </div>
    }
</div>