<div [formGroup]="buchForm()"> <!-- Zugriff auf die tatsächliche FormGroup -->
    <label class="label">
        <span class="label-text text-lg font-semibold">Untertitel *</span>
    </label>
    <div class="relative flex items-center">
        <div>
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
            </div>
        </div>
        <input formControlName="untertitel" type="text" placeholder="Buchuntertitel" [ngClass]="{
                'border-error focus:ring-error/50 focus:border-error': untertitel.invalid && untertitel.touched,
                'border-primary focus:ring-primary/50 focus:border-primary': !(untertitel.invalid && untertitel.touched)
            }"
            class="input w-full px-4 py-2 text-base bg-gray-50 focus:outline-none focus:ring hover:bg-gray-200 ps-10 border-2 rounded-lg" />
    </div>
</div>