<div class="collapse bg-base-200">
  <input type="checkbox" (change)="uncheck($event.target!)" />
  <div class="collapse-title text-xl font-medium">Rabatt</div>
  <div class="collapse-content">
    <div class="flex">
      <input
        id="rabattFilter"
        type="range"
        min="0"
        max="1"
        value="0"
        class="range range-primary"
        step="0.001"
        (change)="RabattFilterSetter($event.target!)" />
      <label>{{
        rabattFilter()() ? (+rabattFilter()()! * 100).toFixed(1) + '%' : '0%'
      }}</label>
    </div>
  </div>
</div>
