<div class="carousel carousel-center rounded-box">
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/Java.jpg" />
  </div>
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/Python.jpg" />
  </div>
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/JavaScript.jpg" />
  </div>
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/Java.jpg" />
  </div>
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/Python.jpg" />
  </div>
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/JavaScript.jpg" />
  </div>
  <div class="carousel-item">
    <img loading="lazy" class="w-60 h-auto object-contain rounded-md" src="assets/Java.jpg" />
  </div>
</div>