<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-primary drawer-button hover:bg-indigo-400">
      Profil
    </label>
  </div>
  <div class="drawer-side z-50 rounded-lg">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li><a>Name: </a></li>
      <li><a>Email: </a></li>
      <li><a>Rolle: </a></li>
    </ul>
  </div>
</div>