<label class="label">
    <span class="label-text text-lg font-semibold">Art des Buches</span>
</label>
<div class="relative">
    <div
        class="flex items-center max-w-full border-2 border-primary rounded-lg focus-within:ring-1 focus-within:ring-primary/50 focus-within:border-primary">
        <select class="select w-full text-base bg-gray-50 focus:outline-none focus:ring-0 hover:bg-gray-200">
            <option disabled selected>Wählen</option>
            <option>EPUB</option>
            <option>HARDCOVER</option>
            <option>PAPERBACK</option>
        </select>
    </div>
</div>