<div class="m-4">
  <app-error-alert
    *ngIf="errorShow"
    message="{{ errorMessage }}"></app-error-alert>
  <span
    *ngIf="loading()"
    class="loading loading-spinner loading-lg text-primary flex items-center justify-center m-auto">
  </span>
  <app-sortier-service></app-sortier-service>
  <div class="flex w-full flex-col">
    <div class="divider">Bibliothek</div>
  </div>
  <div *ngIf="!loading()">
    <div class="grid grid-cols-3 gap-8 auto-rows-fr">
      <div *ngFor="let buch of buecher()">
        <app-card [buch]="buch" (openModal)="openModal($event)"></app-card>
      </div>
    </div>
  </div>
  <app-modal
    [ausgewähltesBuch]="selectedBuchSignal()"
    [buch]="selectedBuchSignal()"
    #modal></app-modal>
</div>
