<div class="m-4">
  <app-error-alert
    *ngIf="errorShow"
    message="{{ errorMessage }}"></app-error-alert>
  <span
    *ngIf="loading()"
    class="loading loading-spinner loading-lg text-primary flex items-center justify-center m-auto">
  </span>
  <!-- AB HIER IST MEIN ZEUGS (Maxim) -->
  <div class="flex items-center gap-4">
    <!-- Sortierkriterien -->
    <select class="select select-bordered w-full max-w-xs">
      <option selected disabled hidden>Sortieren</option>
      <option value="isbn">ISBN</option>
      <option value="rating">Rating</option>
      <option value="preis">Preis</option>
      <option value="rabatt">Rabatt</option>
      <option value="datum">Datum</option>
    </select>

    <!-- Sortierreihenfolge -->
    <label class="swap swap-rotate">
      <!-- Aufsteigend -->
      <input type="checkbox" id="sortOrder" />
      <svg
        class="swap-on fill-current h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M5 15l7-7 7 7" />
      </svg>
      <!-- Absteigend -->
      <svg
        class="swap-off fill-current h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path d="M19 9l-7 7-7-7" />
      </svg>
    </label>
  </div>
  <div class="flex w-full flex-col">
    <div class="divider">Bibliothek</div>
  </div>
  <!-- BIS HIER IST MEIN ZEUGS (Maxim) -->
  <div *ngIf="!loading()">
    <div class="grid grid-cols-3 gap-8 auto-rows-fr">
      <div *ngFor="let buch of buecher()">
        <app-card [buch]="buch" (openModal)="openModal($event)"></app-card>
      </div>
    </div>
  </div>
  <app-modal
    [ausgewähltesBuch]="selectedBuchSignal()"
    [buch]="selectedBuchSignal()"
    #modal></app-modal>
</div>
