<div class="m-4">
  <app-error-alert *ngIf="errorShow" message="{{ errorMessage }}"></app-error-alert>
  <span *ngIf="loading()"
    class="loading loading-spinner loading-lg text-primary flex items-center justify-center m-auto">
  </span>
  <div *ngIf="!loading()">
    <!-- Responsive Grid -->
    <div class="grid gap-8 auto-rows-fr grid-cols-[repeat(auto-fit,minmax(450px,1fr))]">
      <div *ngFor="let buch of buecher()">
        <app-card [buch]="buch" (openModal)="openModal($event)"></app-card>
      </div>
    </div>
  </div>
  <app-modal [ausgewähltesBuch]="selectedBuchSignal()" [buch]="selectedBuchSignal()" #modal></app-modal>
</div>