<!-- Sortierreihenfolge -->
<button class="btn no-animation join-item" (click)="buecherRangfolge()">
  <div [ngSwitch]="rangfolge()">
    <!-- aufsteigend -->
    <svg
      *ngSwitchCase="'Aufsteigend'"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="swap-off h-5 w-5">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
    </svg>

    <!-- absteigend -->
    <svg
      *ngSwitchCase="'Absteigend'"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="swap-on h-5 w-5">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
    </svg>
  </div>
  <label class="hide-label">{{ rangfolge() }} </label>
</button>
