button {
  padding: 10px 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .hide-label {
    display: none;
  }
}

@media (min-width: 600px) {
  button {
    width: 150px;
    padding: 10px 20px;
    text-align: center;
  }
}
