<div [formGroup]="buchForm()"> <!-- Zugriff auf die tatsächliche FormGroup -->
    <label class="label">
        <span class="label-text text-lg font-semibold">{{titelLabel()}}</span>
    </label>
    <div class="relative">
        <div
            class="flex items-center gap-2 border-2 border-primary rounded-lg focus-within:ring-1 focus-within:ring-primary/50 focus-within:border-primary">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-gray-500">
                    <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="iconPath"></path>
                </svg>
            </div>
            <input formControlName="titel" [type]="type" [placeholder]="placeholder" [step]="step"
                class="input w-full px-4 py-2 text-base bg-gray-50 focus:outline-none focus:ring-0 hover:bg-gray-200 ps-10" />
        </div>
    </div>
    @if(titel.invalid) {
    <div class="text-sm text-red-500">
        <label>
            <span>Fehler: Dieses Feld ist erforderlich.</span>
        </label>
    </div>
    }
</div>