<div class="collapse bg-base-200 sm:max-w-xs md:max-w-sm lg:max-w-md mx-auto">
  <input type="checkbox" (change)="uncheck($event.target!)" />
  <div class="collapse-title text-xl font-medium">Preis</div>
  <div class="collapse-content relative">
    <div class="flex">
      <input
        id="rangeInput"
        type="range"
        min="0"
        max="100"
        value="100"
        class="range range-primary w-full"
        (change)="setPreisFilter($event.target!)" />

      <label>{{ preisFilter() ? preisFilter() : '100' }}</label>
    </div>
  </div>
</div>
